body {
    font-family: sans-serif;
    -webkit-font-smoothing: auto;
    -moz-font-smoothing: auto;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-smooth: always;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    
    background-color: white !important;
  }
  
  /* Base theme */
  .bn-container[data-color-scheme] {
    --bn-colors-editor-text: #222222;
    --bn-colors-editor-background: #edecec;
    --bn-colors-menu-text: #ffffff;
    --bn-colors-menu-background: #9b0000;
    --bn-colors-tooltip-text: #ffffff;
    --bn-colors-tooltip-background: #b00000;
    --bn-colors-hovered-text: #ffffff;
    --bn-colors-hovered-background: #b00000;
    --bn-colors-selected-text: #ffffff;
    --bn-colors-selected-background: #c50000;
    --bn-colors-disabled-text: #9b0000;
    --bn-colors-disabled-background: #7d0000;
    --bn-colors-shadow: #640000;
    --bn-colors-border: #870000;
    --bn-colors-side-menu: #bababa;
    --bn-color-highlight-colors: #ffffff;
    --bn-border-radius: 20px;
    --bn-font-family: Helvetica Neue, sans-serif;
  }

 .bn-block-group{
    padding-top: 40px;
 }
  
  
  /* Changes for dark mode */
  .bn-container[data-color-scheme="dark"] {
    --bn-colors-editor-text: #000000;
    --bn-colors-editor-background: #eeeeee;
    --bn-colors-side-menu: #ffffff;
  }