.slick-slide > div {
  margin: 0 10px;
}

.slick-arrow:before {
  color: gray;
  zoom: 1.2;
}

.slick-arrow::after {
  color: gray;
}

/* .slick-track {
  width: 100%;
  box-sizing: border-box;
}
.slick-list {
  overflow: visible;
}
.slick-initialized {
}

.slick-track {
  height: fit-content;
}

.slick-slide {

}

.slick-slide.slick-active {

} */
